<div class="mt-3">
    <label for="formFile" class="form-label">Selecionar arquivo</label>
    <input #files class="form-control" type="file" id="formFile" multiple (change)="onChange($event)">
    <div class="progress mt-3">
        <div class="progress-bar"
            role="progressbar"
            aria-label="Example with label"
            [style.width] ="progress + '%'"
            [attr.aria-valuenow]="progress"
            aria-valuemin="0"
            aria-valuemax="100">
            {{ progress }}%
        </div>
    </div>
</div>
<div class="mt-3">
    <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!submit">Upload</button>
</div>